@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mp6y2t');
  src:  url('../fonts/icomoon.eot?mp6y2t#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mp6y2t') format('ttf'),
    url('../fonts/icomoon.woff?mp6y2t') format('woff'),
    url('../fonts/icomoon.svg?mp6y2t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-control-arrow:before {
  content: "\e901";
}
.icon-empty:before {
  content: "\e902";
  color: #777;
}
.icon-gemes:before {
  content: "\e903";
  color: #777;
}
.icon-home:before {
  content: "\e904";
  color: #777;
}
.icon-scratch-post:before {
  content: "\e905";
  color: #777;
}
.icon-sunbed:before {
  content: "\e906";
  color: #777;
}
